@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-rating: var(--rating-yellow);

  --color-pending: var(--order-pending);

  --color-shipping: var(--order-shipping);

  --color-completed: var(--order-completed);

  --color-cancelled: var(--order-cancelled);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body {
    font-family: 'Moderustic', sans-serif;
  }
}

:root {
  --background: hsl(45 40% 98%);
  --foreground: hsl(53 33% 5%);
  --card: hsl(45 40% 98%);
  --card-foreground: hsl(53 33% 5%);
  --popover: hsl(45 40% 98%);
  --popover-foreground: hsl(53 33% 5%);
  --primary: hsl(47 52% 51%);
  --primary-foreground: hsl(53 33% 5%);
  --secondary: hsl(47 62% 71%);
  --secondary-foreground: hsl(53 33% 5%);
  --muted: hsl(45 39% 20%);
  --muted-foreground: hsl(53 33% 70%);
  --accent: hsl(47 70% 60%);
  --accent-foreground: hsl(53 33% 5%);
  --destructive: hsl(0 85% 60%);
  --destructive-foreground: hsl(53 33% 5%);
  --border: hsl(45 39% 20%);
  --input: hsl(45 39% 20%);
  --ring: hsl(47 70% 40%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
  --rating-yellow: hsl(44 100% 47%);
  --order-pending: hsl(32 100% 51%);
  --order-shipping: hsl(196 100% 50%);
  --order-completed: hsl(150 95% 45%);
  --order-cancelled: hsl(359 100% 70%);
}
.dark {
  --background: hsl(45 40% 2%);
  --foreground: hsl(53 31% 95%);
  --card: hsl(45 40% 2%);
  --card-foreground: hsl(53 31% 95%);
  --popover: hsl(45 40% 2%);
  --popover-foreground: hsl(53 31% 95%);
  --primary: hsl(47 52% 49%);
  --primary-foreground: hsl(45 40% 2%);
  --secondary: hsl(47 62% 29%);
  --secondary-foreground: hsl(53 31% 95%);
  --muted: hsl(45 39% 80%);
  --muted-foreground: hsl(53 31% 95%);
  --accent: hsl(47 70% 40%);
  --accent-foreground: hsl(45 40% 2%);
  --destructive: hsl(0 62% 30%);
  --destructive-foreground: hsl(56 29% 10%);
  --border: hsl(45 40% 60%);
  --input: hsl(45 39% 80%);
  --ring: hsl(47 70% 60%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --order-pending: hsl(16 100% 40%);
  --order-shipping: hsl(203 100% 33%);
  --order-completed: hsl(144 100% 25%);
  --order-cancelled: hsl(358 100% 38%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }

  .dialect .dt-modal {
    top: 100% !important;
  }

  /* patches Jupiter Unified Wallet modal overlay not spanning full viewport */
  [class$='ModalDialog'] {
    min-height: 100%;
    min-width: 100%;
  }
}

@layer components {
  form {
    @apply flex flex-col gap-4;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
