@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Moderustic', sans-serif;
}

@layer base {
  :root {
    --background: 45 40% 98%;
    --foreground: 53 33% 5%;
    --card: 45 40% 98%;
    --card-foreground: 53 33% 5%;
    --popover: 45 40% 98%;
    --popover-foreground: 53 33% 5%;
    --primary: 47 52% 51%;
    --primary-foreground: 53 33% 5%;
    --secondary: 47 62% 71%;
    --secondary-foreground: 53 33% 5%;
    --muted: 45 39% 20%;
    --muted-foreground: 53 33% 70%;
    --accent: 47 70% 60%;
    --accent-foreground: 53 33% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 53 33% 5%;
    --border: 45 39% 20%;
    --input: 45 39% 20%;
    --ring: 47 70% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --rating-yellow: 44 100% 47%;
    --order-pending: 32 100% 51%;
    --order-shipping: 196 100% 50%;
    --order-completed: 150 95% 45%;
    --order-cancelled: 359 100% 70%;
  }
  .dark {
    --background: 45 40% 2%;
    --foreground: 53 31% 95%;
    --card: 45 40% 2%;
    --card-foreground: 53 31% 95%;
    --popover: 45 40% 2%;
    --popover-foreground: 53 31% 95%;
    --primary: 47 52% 49%;
    --primary-foreground: 45 40% 2%;
    --secondary: 47 62% 29%;
    --secondary-foreground: 53 31% 95%;
    --muted: 45 39% 80%;
    --muted-foreground: 53 31% 95%;
    --accent: 47 70% 40%;
    --accent-foreground: 45 40% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 56 29% 10%;
    --border: 45 40% 60%;
    --input: 45 39% 80%;
    --ring: 47 70% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --order-pending: 16 100% 40%;
    --order-shipping: 203 100% 33%;
    --order-completed: 144 100% 25%;
    --order-cancelled: 358 100% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  form {
    @apply flex flex-col gap-4;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
